
/*Prop principales*/
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #FFF0C9;
}

/*NAV*/

 .footer{
     display: none;
 }


h1{
    margin: 0 3em;
    font-size: 2rem;
}

nav {
    height: 10vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-automatico{
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-parrafo{
    margin-right: 3em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    
}

.nav-parrafo:hover, .nav-parrafo:focus {
    
    border-bottom: 2px solid #FFF0C9;
}

/*CONTAINER*/


#container{
    width: 100%;
    position: relative;
    height: 90vh;
   /* background-color: blueviolet;*/
   background-size:100% 100% ;
   

}


/*Flechas cambio imagen*/
.flechas {
   
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    
}

#flechaIzq{
    width: 5%;
    height: 100%;
    margin-left: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flechaDer{
    width: 5%;
    height: 100%;
    margin-right: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.triangulo{
    width: 0; 
    height: 0; 
    border-right: 2rem solid #FFF0C9;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent; 
}


.triangulo1{
     width: 0; 
     height: 0; 
     border-left: 2rem solid #FFF0C9;
     border-top: 1rem solid transparent;
     border-bottom: 1rem solid transparent; 

}

@media (max-width:1100px){
    nav{
        height: 13vh;
    }
    #container {
        height: 87vh;
    }

    h1 {
        margin-left: 1em;
        margin-right: 1em ;
    }

    .nav-automatico{
        width: 100%;
       
    }

    .nav-parrafo{
        font-size: 1rem;
        margin-right: 1em;
    }
    
}

@media (max-width:400px) {
    .titulo-nav{
        display: none;
    }

    .footer{
        display: block;
        height: 7vh;
        background-color: #000000;
        text-align: center;
    }
    .container{
        height: 80vh;
    }


    .nav-parrafo{
        font-size: 1rem;
        margin-right:0.5rem;
        margin-left: 0.5rem;
    }
    
    
}

